<%= render :partial => "index_head"%>


<h1>Editing message</h1>

<!-- <%# form_for(@message) do |f| %>
  <%#= f.error_messages %>
  <p>
    <%#= f.submit 'Update' %>
  </p> 
<%# render :partial => "messages/form", :message => @message %>
<%# end %> 
-->

<%#= link_to 'Show', @message %> |
<%#= link_to 'Back', messages_path %>


<%# title "Edit Aaa Nifty Scaffold" %>
<%= render :partial => 'form' %>
<p>
  <%= link_to "Show", @aaa_nifty_scaffold %> |
  <%= link_to "View All", aaa_nifty_scaffolds_path %>
</p>

<%= render :partial => "index_foot" %>
