<h1>New city</h1>

<% form_for(@city) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nomecitta %><br />
    <%= f.text_field :nomecitta %>
  </p>
  <p>
    <%= f.label :sigla %><br />
    <%= f.text_field :sigla %>
  </p>
  <p>
    <%= f.label :regione %><br />
    <%= f.text_field :regione %>
  </p>
  <p>
    <%= f.label :id_pseudoid %><br />
    <%= f.text_field :id_pseudoid %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', cities_path %>