<% form_for self do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :titolo %><br />
    <%= f.text_field :titolo %>
  </p>
  <p>
    <%= f.label :id_login %><br />
    <%= f.text_field :id_login %>
  </p>
  <p>
    <%= f.label :messaggio %><br />
    <%= f.text_area :messaggio %>
  </p>
  <p>
    <%= f.label :data_creazione %><br />
    <%= f.datetime_select :data_creazione %>
  </p>
  <p>
    <%= f.label :pubblico %><br />
    <%= f.check_box :pubblico %>
  </p>
  <p>
    <%= f.label :id_figliodi_msg %><br />
    <%= f.text_field :id_figliodi_msg %>
  </p>
  <p>
    <%= f.label :id_tipo %><br />
    <%= f.text_field :id_tipo %>
  </p>
  <p><%= f.submit %></p>
<% end %>
