            <li class='inline_form' id='<%= dom_id(@node) %>'>  <% if @node.new_record? -%>
  <%= form_remote_tag(:url => nodes_path, :html => {:id => "#{params[:dom_id]}_form_t"}) %>
  <% else -%>
  <%= form_remote_tag(:url => node_path(@node.zip), :method => :put, :html => {:id => "#{dom_id(@node)}_form_t"}) %>
  <% end -%>
<div class='hidden'><input type='hidden' name='reference' value='<%= params[:dom_id] %>_add'/>
<input type='hidden' name='dom_id' value='<%= params[:dom_id] %>'/>
<input type='hidden' name='t_url' value='/default/Node-+index/pages'/>
<input type='hidden' name='node[parent_id]' value='<%= @node.parent_zip %>'/>
<input type='hidden' name='position' value='before'/>
</div><%= error_messages_for(@node) %>  <% if @node.new_record? -%>
    <p class='btn_x'><a href='#' onclick='["<%= params[:dom_id] %>_add", "<%= params[:dom_id] %>_form"].each(Element.toggle);return false;'><img alt='cancel' src='/images/cross.png'/></a></p>
  <% else -%>
    <p class='btn_x'><%= link_to_remote("<img src='/images/cross.png' alt='cancel'/>", :url => node_path(@node.zip) + "/zafu?t_url=%2Fdefault%2FNode-%2Bindex%2Fpages&dom_id=#{params[:dom_id]}", :method => :get) %></p>
  <% end -%>

              <p class='node_klass'>  <select id='<%= dom_id(@node) %>_klass' name='node[klass]'><%= options_for_select(Node.classes_for_form(:class => "Page"), (@node.new_record? ? @node.klass.to_s : @node.klass)) %></select></p>
              <p class='node_v_title'><input id='<%= dom_id(@node) %>_v_title' name='node[v_title]' type='text' value=''/></p>
              <p class='btn_validate'><input id='<%= dom_id(@node) %>_' type='submit' value=' validate '/></p>
            </form></li>
