<p>
  <b>Titolo:</b>
  <%=h @link.titolo %>
</p>

<p>
  <b>Id login:</b>
  <%=h @link.id_login %>
</p>

<p>
  <b>Id oggettopuntato:</b>
  <%=h @link.id_oggettoPuntato %>
</p>

<p>
  <b>Data creazione:</b>
  <%=h @link.Data_creazione %>
</p>

<p>
  <b>Tipo:</b>
  <%=h @link.tipo %>
</p>

<p>
  <b>M battiva:</b>
  <%=h @link.m_battiva %>
</p>

<p>
  <b>Urllink:</b>
  <%=h @link.URLlink %>
</p>

<p>
  <b>Urllinkfoto:</b>
  <%=h @link.URLlinkFoto %>
</p>

<p>
  <b>Descrizione:</b>
  <%=h @link.Descrizione %>
</p>

<p>
  <b>M bfotoattiva:</b>
  <%=h @link.m_bfotoattiva %>
</p>


<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>