<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Orgie2.3.4: <%= controller.class.to_s %>::<%= controller.action_name %></title>
  <%#= stylesheet_link_tag 'scaffold' %>
	<%= javascript_include_tag :defaults %>
	<%= active_scaffold_includes %>
</head>
<body>
	<%= image_tag("logos/logo-goliardia-production.jpg", :align => 'right' , :height => '50', :alt => 'RailTicket Mockup' ) %>
	<div align="center">
		[ <%= %w{ pages links cities users }.map{|x| link_to(x,"/#{x}") }.join(' | ') %> ]
<h3>Orgie2</h3>
	</div>
<p style="color: green"><%= flash[:notice] %></p>
<%= yield %>
</body>
	<div align="center" >
		<hr width="50"/>
		<small>
		<b>Orgie2</b> Mockup app on <tt><%=Socket.gethostname %></tt>
		</small>
	</div>
</html>